[submodule "themes/geek"]
	path = themes/geek
	url = https://github.com/sanjinhub/hexo-theme-geek.git geek

[submodule "themes/particlex"]
	path = themes/particlex
	url = https://github.com/theme-particlex/hexo-theme-particlex.git particlex --depth=1